In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
from sklearn.datasets import make_classification

In [2]:
X, y = make_classification(n_samples = 2000, n_features = 6, random_state=0, weights = [0.1, 0.9])

In [3]:
df = pd.DataFrame(X)
df.columns = [f'feature_{x}' for x in range(1,7)]
df['label'] = y
df['user_id'] = np.random.randint(1,10,size=2000)

In [4]:
df = df[['user_id', 'feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5',
       'feature_6', 'label']]

In [5]:
df

,user_id,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,label
0,7,1.479715,0.625549,0.417854,-0.634224,0.072952,-0.514878,1
1,1,-0.634867,-0.886450,0.811090,-0.166278,0.069775,1.077315,0
2,9,0.159583,1.223940,0.886659,0.751889,-0.181258,-0.280315,1
3,6,1.492609,0.545842,1.512770,-0.700152,0.087514,-0.088724,1
4,2,-1.233365,0.363023,1.822393,1.155959,-0.205442,0.307165,1
...,...,...,...,...,...,...,...,...
1995,8,1.345541,0.840107,-1.678002,-0.384296,0.021973,0.418131,1
1996,9,0.782955,-1.291410,-0.545628,-1.486354,0.303922,-0.882769,0
1997,6,-0.684974,0.887981,2.536914,1.128826,-0.226342,0.447113,1
1998,3,0.826532,1.015088,0.784878,0.117900,-0.068112,1.165867,1
1999,9,-1.500296,1.013344,-0.193539,1.811682,-0.343408,0.779547,1

In [6]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.2, random_state=42)

In [7]:
train['id'] = range(len(train))
test['id'] = range(len(test))

/Users/poteman/AnacondaInstall/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/poteman/AnacondaInstall/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
train = train[['id','user_id', 'feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5',
       'feature_6', 'label']]
test = test[['id','user_id', 'feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5',
       'feature_6']]

In [9]:
train.to_csv('train.csv', index = False)
test.to_csv('test.csv', index = False)